{% extends 'port/nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static "port/makeport.css" %}" >
  </head>
  {% block content %}
  <body>
    <div class="container">
      <form class="makeport" action="" method="POST" enctype="multipart/form-data"  >
        {% csrf_token %}
        <div class="jumbotron jumboton-fluid">
          <div class="display-4">
            <h1>MAKE YOUR PORTFOLIO HERE:</h1>
          </div>
          {{ b.as_p }}
          <input type="submit" name="" value="save it" class="btn btn-danger">
        </div>
      </form>
    </div>
  </body>
  {% endblock %}
</html>
